@font-face {
    font-family: brand;
    src: url('./assets/fonts/AutumnFlowers-9YVZK.otf');
}


.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp9660903.jpg);
    background-size: cover;
}